.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  transform: scale(1.2);
  margin-top: 40px;
}

.timeSlots {
  margin-top: 20px;
  text-align: center;
}

.timeSlots h2 {
  font-size: 1.5rem;
  color: #35281f;
  margin-bottom: 2rem;
}

.timeSlotsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 600px;
}

.timeSlot {
  min-width: 150px;
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: #fafafa;
  color: #35281f;
  border: 1px solid rgba(53, 40, 31, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(53, 40, 31, 0.1);
}

.timeSlot:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(53, 40, 31, 0.2);
  background-color: #35281f;
  color: #fafafa;
  border-color: #35281f;
}
