.dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  transform: scale(1.2);
  margin-top: 40px;
}

.timeSlots {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 450px;
  width: 100%;
}

.timeSlots h2 {
  font-size: 1.5rem;
  color: #35281f;
  margin-bottom: 2rem;
}

.timeSlotsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 600px;
}

.timeSlotsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 600px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.timeSlotsContainer::-webkit-scrollbar {
  width: 8px;
}

.timeSlotsContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.timeSlotsContainer::-webkit-scrollbar-thumb {
  background: #35281f;
  border-radius: 4px;
}

.timeSlot:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(53, 40, 31, 0.2);
  background-color: #35281f;
  color: #fafafa;
  border-color: #35281f;
}
