.cardElement {
  padding: 10px;
  border: 1px solid rgba(53, 40, 31, 0.2);
  border-radius: 4px;
  background-color: white;
}

.cardElement.StripeElement--focus {
  border-color: #35281f;
  box-shadow: 0 0 0 2px rgba(53, 40, 31, 0.2);
}
