.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  overflow-y: auto;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(33.333% - 2rem);
  min-height: 150px;
  min-width: 175px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(53, 40, 31, 0.1);
  transition: all 0.3s ease;
  margin: 0;
}

.serviceCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(53, 40, 31, 0.2);
  cursor: pointer;
}
