.about {
  background-image: linear-gradient(
      rgba(53, 40, 31, 0.25),
      rgba(53, 40, 31, 0.25)
    ),
    url("/images/about_us.png");
  background-size: cover;
  background-position: center;
  padding: 10vh 2vw;
  position: relative;
}

.title {
  font-size: 4vw;
  color: #35281f;
  position: absolute;
  top: 10vh;
  left: 8vw;
  margin: 0;
}

.description {
  font-size: 2vw;
  width: 35vw;
  word-wrap: break-word;
  color: #35281f;
  position: absolute;
  top: 18vh;
  left: 16vh;
  text-align: left;
}

.cardsWrapper {
  position: absolute;
  top: 52vh;
  left: 8vw;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cardImage {
  border-radius: 15px;
  width: auto;
  height: 25vh;
  margin-top: -12.5vh;
  position: relative;
}

.cardImage:nth-child(2) {
  left: 15vw;
  top: 2.5vh;
}

.cardImage:nth-child(3) {
  top: 5vh;
}
