.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
}

.title {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #333;
}