.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(53, 40, 31, 0.25),
      rgba(53, 40, 31, 0.25)
    ),
    url("/images/landing_background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }

.footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
  }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12rem;
}

.logo h1 {
  color: #fafafa;
  margin: 0;
  font-size: 5rem;
  line-height: 1.2;
  font-family: "Oleo Script";
  font-weight: bold;
}

.logo h1:first-child {
  font-size: 8rem;
  text-transform: none;
  color: #fafafa;
  font-family: "Oleo Script";
  font-weight: bold;
}

.section {
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.section p {
  text-align: center;
  margin-bottom: 20px;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
 }

 .cardImage {
    width: 100px;
    height: auto;
 }
