.Button {
    box-sizing: border-box;
    border: transparent;
    display: flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  
  }
  .greyInfo{
    margin-left: 20px;  
    color: gray;
  }
  .Backdrop {
    position:absolute;
    inset: 0;
    background-color: black;
    opacity: 0.2;
    transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);
  
    @media (prefers-color-scheme: dark) {
      opacity: 0.7;
    }
  
    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }
  }
  
  .Popup {
    box-sizing: border-box;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    max-width: calc(100vw - 3rem);
    max-height: 80vh; 
    min-height: 20vh;
    overflow-y: auto; 
    margin-top: -2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--color-gray-200);
    background-color: rgb(243, 243, 243);
    color: var(--color-gray-900);
    transition: all 150ms;

    @media (prefers-color-scheme: dark) {
      outline: 1px solid var(--color-gray-300);
    }

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
}

  
  .Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 3px;
    margin-top: -0.375rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.0025em;
    font-weight: 500;
  }
  
  .Description {
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 3rem);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .userProgress{
    flex: 0 2 50rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: 500;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 20px;
    max-width: 70rem;
    border-radius: 10px;
    line-height: 1.5rem;
  }
  
  .userInformation{
    flex: 0 1 24rem;
    justify-content: flex-end;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: 500;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 20px;
    max-width: 50rem;
    border-radius: 10px;
    line-height: 1.5rem;
  }

  .Close{
    display: flex;
    gap: 1rem;
  }
  .Logout{
    display: flex;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
  }

  .Description::-webkit-scrollbar {
    width: 7px;
  }
  
  .Description::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 10px;
  }
  
  .Description::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }