.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .servicesTitle {
    font-size: 2em;
    margin-bottom: 60px;
    margin-top: -100px;
  }
  
  .servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px; /* 5% bigger than 187.5px */
    height: 196px; /* 5% bigger than 187.5px */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative; /* For positioning the price */
  }
  
  .serviceCard:hover {
    transform: scale(1.05);
  }
  
  .serviceName {
    font-weight: bold;
    font-size: 1.2em; /* Make the name bigger */
    margin-bottom: 5px;
  }
  
  .serviceDescription {
    color: grey;
    font-size: 0.9em;
    margin-bottom: auto; /* Push the description to the top */
  }
  
  .serviceTime {
    color: grey;
    font-size: 0.9em;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .servicePrice {
    font-weight: bold;
    color: white;
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }